<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reviews Section</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="#" th:action="@{/addCommentsPage}" method="post">

    <p><input type="submit" name = "backToMovies" value="Back to movies section" /></p>

</form>

<form action="#" th:action="@{/addReviewsPage}" method="get">

    <p>Subject: <input type="text" field="${subject}" name="subject" id="subject" /></p>

    <textarea rows="10" cols="50" type="text" field="${commentText}" name="commentText" id="commentText" ></textarea>

    <p><input type="submit" name = "addReview" value="Add Review" /></p>

</form>

<p th:text = "${message}" ></p>

</body>
</html>